*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header{
    width:100%;
    height:70px;
    background-color: grey;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.header img{
    width:70px;
    height:70px;
    margin-right: 14px;
}

.header h1{
    line-height: 70px;
    color:white;
}

.content{
    width:100%;
    padding:20px;
    margin-top: 70px;
    transition:0.5s;
}

.content img{
    width:100%;
    max-width: 700px;
    display: block;
    margin:auto;
    margin-bottom: 20px;
}

.content p{
    text-align: justify;
}

.sidebar{
    width:20%;
    height: 100vh;
    position:fixed;
    top:70px;
    background-color: black;
    left:-100%;
    transition:0.2s;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li{
    border-bottom: 2px solid rgba(255, 255, 255, 0.500);
}

.sidebar ul li a{
    display:block;
    text-decoration: none;
    color:white;
    font-size:20px;
    padding:15px 25px;
    transition:0.4s;
}

a span{
    margin-right: 10px;
    vertical-align:text-bottom;
}

.sidebar ul li a:hover{
    border-left:10px solid white;
}

.social{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid rgba(255, 255, 255, 0.500);
    border-top:2px solid rgba(255, 255, 255, 0.500);
    padding:15px 25px;
    margin-top:160px;
}

i{
    color:white;
    font-size: 30px;
    margin-right:15px;
}

.show-btn, .hide-btn{
    font-size:35px;
    color:white;
    position:fixed;
    top:20px;
    left:50px;
    
}

#bn1{
    font-size:35px;
}

#bn{
    font-size: 25px;
}

#chk{
    opacity: 0;
}

.hide-btn{
    opacity:0;
}

#chk:checked ~ .sidebar{
    left:0;
}

#chk:checked ~ .show-btn{
    opacity:0;
}

#chk:checked ~ .hide-btn{
    opacity:1;
}

#chk:checked ~ .content{
    width:80%;
    float: right;
}

@media(max-width:768px){
    .sidebar{
        width:100%;
        text-align: center;
    }

    .header h1{
        display: none;
    }
}